<div id="buddylist">
	<div class="boxtop">
		<div class="boxtoptext">Buddy List</div>
	</div>

	<% @buddies.each do |buddy| %>
	
	<div class="buddy" onclick="openChatWindow('<%= buddy %>', '<%= buddy %>');">
		<div class="buddytext"><%= buddy %></div>
	</div>
	
	<% end %>

</div>

<div id="footer"></div>
<div id="bottom_windows"></div>

