<div class='box' id='infobox'>

<div id='infotext'>
	<p class="padded">This is an IM Collaborator that works with Jabber/XMPP</p>

	<p class="padded">
	It has been designed for Dr. Podgurski's EECS 393: Software Engineering, Fall 2009 
	<br />
	by Curtis Holmes and Huston Hoburg
	</p>

	<p class="padded">To Start, Enter a valid Jabber ID in the login box on the left</p>
</div>

</div>