<div id='loginbox' class="box">

	<div class="boxtop">
		<div class="boxtoptext">Login</div>
	</div>
	
	<% form_tag :action=> "buddies" do %>

		<div style="color:red; padding-top:2px;"><%= @loginerror %></div>
		
		<table style="padding:5px; align:center">	

		<tr>
  			<td style="text-align:right;">Jabber ID </label></td>
  			<td><%= text_field_tag(:login) %></td>
		</tr>
			
		<tr>
  			<td style="text-align:right;">Password </label></td>
  			<td><%= password_field_tag(:password) %></td>
		</tr>
		</table>

		<%= submit_tag "Submit" %>
		
	<% end %>

</div>